# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Logs and reports
processing_logs_*.csv
reports/

# Kafka data
kafka/kafka*/data/

# Git
.git/
.gitignore

# Documentation
README.md